* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #FAFAF8;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  background-color: rgb(255, 255, 255);
}

header > img {
  width: 40px;
}

header > span {
  font-size: 1.7rem;
  font-weight: 400;
}

main {
  padding: 30px 30px 10px;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ingredients-list > li {
  color: #585858;
}

.add-ingredient-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;

}

.add-ingredient-form > input {
  font-family: Inter, sans-serif;
  padding: 10px;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  font-size: 1rem;
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.add-ingredient-form > input:focus {
  outline: none;
  border-color: #c4c0c0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.add-ingredient-form > button {
  font-family: Inter, sans-serif;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  white-space: nowrap;
  font-size: 0.875rem;
  width: 200px;
}

main > ul > h1 {
  margin-top: 50px;
  font-size: 1.7rem;
  margin-bottom: 25px;
}

main > ul > li {
  margin-bottom: 20px;
  color: #525151;
}

.get-recipe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  min-width: 500px;
  max-width: 1500px;
  gap: 160px;
  margin-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.get-recipe > button {
  font-family: Inter, sans-serif;
  border: none;
  border-radius: 5px;
  background-color: #c148df;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 20px;
}

.get-recipe-info > h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-top: 17px;
}

.get-recipe-info > p {
  font-size: 1rem;
  color: #858383;
}

main > section {
  display: flex;
  flex-direction: column;
  padding-right: 100px;
  padding-left: 100px;
}

.recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
}

.recipe ul li, .recipe ol li {
    margin-bottom: 8px;
}

/*================================from  https://loading.io/css/ ================================*/
.lds-facebook,
.lds-facebook div {
  box-sizing: border-box;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: currentColor;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0s;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
/*====================================================================*/
